@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">MVC Projects</h2>
</div>

<div class="row mb-2">
    <div class="col">
        <div class="card bg-light" style="width: 18rem;">
            <div class="card-body ">
                <h5 class="card-title ">C-Note</h5>
                <h6 class="card-subtitle mb-2 text-muted">Coding Challenge in C#</h6>
                <p class="card-text text-center"><img src="~/img/C-note.jpg" class="img-fluid rounded" /></p>
                <div class="d-grid gap-2">
                    <a class="card-link btn btn-primary" asp-action="CNote" asp-controller="Cnote">Visit App</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-light" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Decaf Faced</h5>
                <h6 class="card-subtitle mb-2 text-muted">Coding Challenge in C#</h6>
                <p class="card-text text-center"><img src="~/img/decaffaced-round.png" style="height: 9rem" class="img-fluid" /></p>
                <div class="d-grid gap-2">
                    <a class="card-link btn btn-primary" asp-action="DecafFaced" asp-controller="DecafFaced">Visit App</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-light" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Fizz Buzzed</h5>
                <h6 class="card-subtitle mb-2 text-muted">Coding Challenge in C#</h6>
                <p class="card-text text-center"><img src="~/img/fizzbuzz.jpg" style="height: 9rem" class="img-fluid rounded" /></p>
                <div class="d-grid gap-2">
                    <a class="card-link btn btn-primary" asp-action="FizzBuzz" asp-controller="FizzBuzz">Visit App</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card bg-light" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Sunset Ridge</h5>
                <h6 class="card-subtitle mb-2 text-muted">Coding Challenge in C#</h6>
                <p class="card-text rounded text-center"><img src="~/img/sunsetridge.jpg" style="height: 9rem" class="img-fluid rounded" /></p>
                <div class="d-grid gap-2">
                    <a class="card-link btn btn-primary" asp-action="SunsetRidge" asp-controller="SunsetRidge">Visit App</a>
                </div>
            </div>
        </div>
    </div>
    @*<div class="col">
            <div class="card bg-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link btn btn-primary">Card link</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link btn btn-primary">Card link</a>
                </div>
            </div>
        </div>*@
</div>